
:root{
    --background-color:#FFFFFF;
    --light-text-color:#FFFFFF;
    --plain-text-color:#757575;
    --link-text-color: #212121;
    --title-text-color:#212121;
    --accent-color: #2196F3;
    --footer-contacts-color:rgba(255, 255, 255, 0.6);
    --section-background-color:#2F303A;
    --icon-default-color:#AFB1B8;

    --common-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*!!!!!!!!!!!!!!!!!!!!!! RESET CSS !!!!!!!!!!!!!!!!!!!!!!*/
P,
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;
}

ul, ol{
     margin:0;
     padding-left:0;
     list-style: none;
}

address{
    font-style: normal;
}

button{
    cursor:pointer
}

a{
    color:currentColor;
    text-decoration: none;
}

img{
    display: block;
    margin: 0;
}

/*!!!!!!!!!!!!!!!!! body style !!!!!!!!!!!!!!!!!!!!!!!!!!!*/
body{
    background-color: var(--background-color);
    font-family:'Roboto' , sans-serif;
    color: var(--plain-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;


}



/* !!!!!!!  HIDE  IT  WELL  !!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*!!!!!!!!!!! GLOBAL CLASSES   !!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.container{
    width:1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section{
    padding: 94px 0;
}

.no-padding-top{
    padding-top: 0;
}

.flex-gap30{
    display:flex;
    gap:30px;
}

/* !!!!!!!!!!!-------header--------!!!!!!!!!!!!!!!!*/
.header{
    padding:24px 0;
    border-bottom: 1px solid #ECECEC;
}

/*arrange logo nav contacts */
.header .container{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
/*arrange logo nav */
.nav-menu{
    display:flex;
    gap:93px;
    align-items: center;
}

.logo{
    font-family: 'Raleway' , sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}
.accent{
    color:var(--accent-color)
}
/* arrange elements of nav contacts */
.nav-list,
.contacts{
    display:flex;
    gap:50px;
}

.nav-item{
    position: relative;
}


.nav-link, 
.contacts-link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--link-text-color);

    transition: color var(--common-transition);
}

.current {
    color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}


.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    top: 45px;

    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;


    background-color: var(--accent-color);
}



.contacts-link{
    display: inline-flex;
    gap: 10px;
    align-items: center;
    color: var(--plain-text-color);  
}

.contacts-icon{
    fill:var(--plain-text-color);

    transition: fill var(--common-transition);
}


.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
    fill: var(--accent-color);
}



/* !!!!!!---------hero-----------!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.hero{
    padding: 200px 0;
    margin: 0 auto;

    max-width: 1600px;
    height: 600px;

    background-repeat: no-repeat;
    background-color: #c4c4c4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
     url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-text-color);

    margin-bottom: 30px;
    margin-left:auto;
    margin-right: auto;
    max-width: 696px;
}
.hero-button,
.submit-button,
.backdrop-submit{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--light-text-color);
    background-color: var(--accent-color);

    display:block;
    margin: 0 auto;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    border-style:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: color var(--common-transition), background-color var(--common-transition);
}
.hero-button:hover,
.hero-button:focus{
    color:var(--accent-color);
    background-color: var(--background-color);
}
/* !!!!!!!!!!!   FEATURES       !!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/


.features-item{
    width: calc((100%-90px)/4);
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    max-width: 270px;
    height: 120px;

    background-color: #F5F4FA;
}



.features-title{
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--title-text-color);

    margin-bottom: 10px;
}
.feature-text{
    line-height: 1.71;
}
/* !!!!!!!!!!!   ACTIVITY     !!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.section-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);

    margin-bottom: 50px;
}


.activity-item {
    position: relative;

    width: calc((100%-60px)/3);
    max-width: 370px;
}

.activity-title{
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height:70px;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
    color:var(--light-text-color);

    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    
    
}



/* !!!!!!!!!   OUR  TEAM     !!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.team{
    background-color: #F5F4FA;
}


.team-member-item{
    width:calc((100%-90px)/4);
    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team-member-about{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-member-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.11;
    color:var(--title-text-color);

    margin-bottom: 10px;
}
.team-member-position{
    font-size: 16px;
    line-height: 1.19;

    display: block;
    margin-bottom: 16px;
}

/* -----social-list sprites menu -----*/

.social-list{
    display:flex;
    justify-content: center;
    gap:10px;
}

.social-list-item{
    width: 44px;
    height: 44px;
}


.social-list-link{
    border-radius: 50%;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    transition: background-color var(--common-transition);
}

.social-list-link:hover, .social-list-link:focus{
    background-color: var(--accent-color);
}

.social-list-icon{
    fill: var(--icon-default-color);

    transition: fill var(--common-transition);
}

.social-list-link:hover .social-list-icon, 
.social-list-link:focus .social-list-icon{
    fill: var(--background-color);
}



/* !!!!!!!!!!!!!   OUR  CLIENTS   !!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.client-list{
    justify-items: center;
}

.client-list-item{
    width: 170px;
    height: 92px;
}



.client-list-link{
    width: 100%;
    height: 100%;

    background-color:var(--background-color);
    border: 1px solid var(--icon-default-color);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: border-color var(--common-transition);
}


.client-list-link:hover, .client-list-link:focus{
    border-color: var(--accent-color);
}

.client-list-icon{
    fill:var(--icon-default-color);

    transition: fill var(--common-transition);
}

.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon{
    fill: var(--accent-color);
}



/* !!!-------------footer-----------!!!! */
.footer{
    background-color:var(--section-background-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-content{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


.footer .logo {
    color: var(--light-text-color);
    display:block;
    margin-bottom: 20px;
}

.address-list{
    display: flex;
    flex-direction: column;
    gap:9px;
}

.address-list-item {
    line-height: 1.7;

}

.address-contacts{
    color: var(--footer-contacts-color);

    transition: color var(--common-transition);
}
/* unique map color */
.address-map{
    color: var(--light-text-color);
    transition: color var(--common-transition);
}
.address-map:hover,
.address-map:focus,
.address-contacts:hover,
.address-contacts:focus {
    color: var(--accent-color);
}


/* ------- FOOTER SOCIAL LINKS -------------- */

.social-links-title,
.subscribe-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-text-color);

    margin-bottom: 20px;
}


.social-list-link{
    background-color: rgba(255, 255, 255, 0.1);
}


.footer .social-list-icon{
    fill:var(--background-color)
} 

.footer-form-field{
    display: flex;
    gap: 12px;
    align-items: center;
}
.email-label{
    position:absolute;
}

.subscribe-email-input{
    width: 358px;
    height: 50px;

    background-color: transparent;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color:var(--light-text-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
}

.subscribe-email-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-email-input:focus-within{
    outline: none;
}

.submit-button {
    width: 200px;
    height: 50px;

    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    line-height: 1.87;
}

/*!!!--------PORTFOLIO------------!!!*/

.portfolio-filter{
   margin-bottom: 50px; 
   display:flex;
   justify-content: center;
   gap:9px;

}
.portfolio-filter-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: #212121;
    background-color: #F5F4FA;

    border-style: none;
    border-radius: 4px;
    min-width:73px;
    padding: 6px 22px;

    transition: background-color var(--common-transition), color var(--common-transition),
    box-shadow var(--common-transition);
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
    background-color: var(--accent-color);
    color: var(--light-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}


/* !!!!!!   GALLERY TABLE    !!!!!!!!! */

.portfolio-gallery{
    flex-wrap: wrap;
}

.portfolio-gallery-image{
    max-width: 100%;
    height: auto;
}

.portfolio-gallery-item{
    position: relative;

    width: calc((100%-60)/3); 
    max-width: 370px;
    background: var(--background-color);
    border: 1px solid #EEEEEE;
}

.portfolio-card-link{
    display: block;
    width: 100%;
    height: 100%;

    transition: box-shadow var(--common-transition);
}

.portfolio-card-link:hover,
.portfolio-card-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}




.portfolio-gallery-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    margin-bottom: 4px;
}

.portfolio-gallery-content{
    padding: 20px 24px;
}


.portfolio-gallery-text{
    font-size: 16px;
    line-height: 1.87;
    color: var(--plain-text-color);
}

.portfolio-overlay{
    position: absolute;
    top:0;
    left:0;

    width:100%;
    height: 294px;
    padding: 64px 24px;

    background-color:rgba(33, 150, 243, 0.9);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform var(--common-transition) 500ms;
}

.portfolio-card-link:hover .portfolio-overlay,
.portfolio-card-link:focus .portfolio-overlay{
    transform: scaleY(1);
}

.portfolio-overlay-text{
    font-size: 18px;
    line-height: 1.56;
    color: var(--light-text-color);
}



/* !!!!  BACKDROP   !!!!! */

.backdrop{
    position:fixed;
    top:0;
    left:0;

    width: 100%;
    height: 100%;

    background-color:rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity var(--common-transition), visibility var(--common-transition);
}


.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
}

.modal{
    position:absolute;
    top:50%;
    left:50%;
    
    width:528px;
    height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scaleY(1);
    transition: transform var(--common-transition 250ms);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
} 

.exit-btn{
    position: absolute;
    top:8px;
    right:8px;

    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-exit-modal{
    fill:#000000;

    transition: fill var(--common-transition);
}

.exit-btn:hover .icon-exit-modal,
.exit-btn:focus .icon-exit-modal{
    fill:var(--accent-color);
}

.backdrop-form-title{
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--link-text-color);
    margin-bottom: 12px;
}

.backdrop-form{
    position: relative;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    padding: 40px;

    
}
.backdrop-form-field{
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: baseline;

    margin-bottom: 10px;
}
.backdrop-label{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: var(--plain-text-color);
}
.backdrop-input{
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--common-transition);
}

.backdrop-input:focus {
    border: 1px solid var(--accent-color);
}

.backdrop-input:hover +.input-icon,
.backdrop-input:focus +.input-icon{
    fill: var(--accent-color);
}

.backdrop-input:focus-within + .input-icon {
    fill: var(--accent-color);
}

.backdrop-input:focus-within{
    border: 1px solid var(--accent-color);
    outline: none;
}

.backdrop-textarea{
    padding: 12px 16px;
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--common-transition);
}

.backdrop-textarea::placeholder{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.backdrop-textarea:focus{
    border: 1px solid var(--accent-color);
}

.backdrop-textarea:focus-within{
    border: 1px solid var(--accent-color);
    outline: none;
}

.input-icon{
    position: absolute;
    left: 12px;
    bottom: 11px;

    fill: var(--link-text-color);
    transition: fill var(--common-transition);
}

.backdrop-checkbox-field{
    display: flex;
    align-items: center;
    justify-content: center;
 
    margin-bottom: 30px;
}

.comment{
    margin-bottom: 20px;
}

.backdrop-checkbox-input{
    appearance: none;
    position: absolute;
}

.backdrop-checkbox-label{
    display: flex;
    align-items: center;
    gap: 7px;
    width: 425px;
    height: 24px;
    padding: auto 0;
    
    line-height: 1.7;

}

.custom-checkbox{
    display: inline-block;
    width: 16px;
    height: 16px;

    border: 2px solid var(--link-text-color);
    border-radius: 2px;

    transition: background-color var(--common-transition),
    background-image var(--common-transition),
    border var(--common-transition);
}

.backdrop-checkbox-input:checked + .custom-checkbox{
    background-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    border:none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.terms-link{
    text-decoration-line: underline;
    color: var(--accent-color);
}

.backdrop-submit{
    width: 200px;

    transition: background-color var(--common-transition);
}
.backdrop-submit:hover,
.backdrop-submit:focus {
    background-color: #188CE8;
}




