/* !!!!!!!!!!!   FEATURES       !!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/
.features{
    display: flex;
    gap: 30px;
}

.features__item {
    // width: calc((100%-90px)/4);
}
.features__title {
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--title-text-color);

    margin-bottom: 10px;
}

.features__text {
        line-height: 1.71;
}


.features__picture {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    max-width: 270px;
    height: 120px;

    background-color: #F5F4FA;
}



