/* !!!!!!!!!!!-------header--------!!!!!!!!!!!!!!!!*/
.header {
    padding: 24px 0;
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navigation {
    display: flex;
    gap: 93px;
    align-items: center;
}
