/* !!!!!!!!!!!-------header--------!!!!!!!!!!!!!!!!*/
.header {
    padding: 24px 0;
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__link,
.connect__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $linkTextColor;

    transition: color $commonTransition;
}

.navigation {
    display: flex;
    gap: 93px;
    align-items: center;
}

/*arrange nav */

.menu {
    display: flex;
    gap: 50px;
    align-items: center;
}


/* arrange elements of nav contacts */


.menu__item {
    position: relative;
}




.menu__link {
    &:hover,
    &:focus {
        color: $accentColor;
    }


    &.current::after {
        content: "";
        position: absolute;
        left: 0;
        top: 45px;

        display: inline-block;
        width: 100%;
        height: 4px;
        border-radius: 2px;


        background-color: $accentColor;
    }
}

.connect{
    display: flex;
    gap: 50px;
    align-items: center;
}

.connect__link {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    color: $plainTextColor;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.connect__icon {
    fill: $plainTextColor;

    transition: fill $commonTransition;

    .connect__link:hover &,
    .connect__link:focus & {
        fill: $accentColor;
    }
}