/*!!!!!!!!!!! GLOBAL CLASSES   !!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.cardset {
    display: flex;
    gap: 30px;
}

.accent {
    color: $accentColor;
}

.current {
    color: $accentColor;
}

body {
    background-color: $backgroundColor;
    font-family: 'Roboto', sans-serif;
    color: $plainTextColor;
    font-size: 14px;
    letter-spacing: 0.03em;


}
