.address {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.address__item {
    

}

.footer__link{
    line-height: 1.7;

    transition: color $commonTransition;
    
    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.address__connect {
    color: $footerContactsColor;
}

.address__map {
    color: $lightTextColor;
}



