/* !!!!  BACKDROP   !!!!! */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity $commonTransition, visibility $commonTransition;
    &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
    
        }
}




.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scaleY(1);
    transition: transform $commonTransition 250ms;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.exit-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-exit-modal {
    fill: #000000;

    transition: fill $commonTransition;
}

.exit-btn:hover .icon-exit-modal,
.exit-btn:focus .icon-exit-modal {
    fill: $accentColor;
}

.backdrop-form-title {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: $linkTextColor;
    margin-bottom: 12px;
}

.backdrop-form {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 40px;


}

.backdrop-form-field {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: baseline;

    margin-bottom: 10px;
}

.backdrop-label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: $plainTextColor;
}

.backdrop-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border $commonTransition;
}

.backdrop-input:focus {
    border: 1px solid $accentColor;
}

.backdrop-input:hover+.input-icon,
.backdrop-input:focus+.input-icon {
    fill: $accentColor;
}

.backdrop-input:focus-within+.input-icon {
    fill: $accentColor;
}

.backdrop-input:focus-within {
    border: 1px solid $accentColor;
    outline: none;
}

.backdrop-textarea {
    padding: 12px 16px;
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border $commonTransition;

    resize: none;
}

.backdrop-textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.backdrop-textarea:focus {
    border: 1px solid $accentColor;
}

.backdrop-textarea:focus-within {
    border: 1px solid $accentColor;
    outline: none;
}

.input-icon {
    position: absolute;
    left: 12px;
    bottom: 11px;

    fill: $linkTextColor;
    transition: fill $commonTransition;
}

.backdrop-checkbox-field {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
}

.comment {
    margin-bottom: 20px;
}

.backdrop-checkbox-input {
    appearance: none;
    position: absolute;
}

.backdrop-checkbox-label {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 425px;
    height: 24px;
    padding: auto 0;

    line-height: 1.7;

}

.custom-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;

    border: 2px solid $linkTextColor;
    border-radius: 2px;

    transition: background-color $commonTransition,
        background-image $commonTransition,
        border $commonTransition;
}

.backdrop-checkbox-input:checked+.custom-checkbox {
    background-color: $accentColor;
    background-image: url(../images/icon-check.svg);
    border: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.terms-link {
    text-decoration-line: underline;
    color: $accentColor;
}

.backdrop-submit {
    width: 200px;

    transition: background-color $commonTransition;
}

.backdrop-submit:hover,
.backdrop-submit:focus {
    background-color: #188CE8;
}