/* !!!-------------footer-----------!!!! */
.footer {
    background-color: $sectionBackgroundColor;

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


.footer .logo {
    color: $lightTextColor;
    display: block;
    margin-bottom: 20px;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.address-list-item {
    line-height: 1.7;

}

.address-contacts {
    color: $footerContactsColor;

    transition: color $commonTransition;
}

/* unique map color */
.address-map {
    color: $lightTextColor;
    transition: color $commonTransition;
}

.address-map:hover,
.address-map:focus,
.address-contacts:hover,
.address-contacts:focus {
    color: $accentColor;
}


/* ------- FOOTER SOCIAL LINKS -------------- */

.social-links-title,
.subscribe-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $lightTextColor;

    margin-bottom: 20px;
}


.social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
}


.footer .social-list-icon {
    fill: $backgroundColor;
}

.footer-form-field {
    display: flex;
    gap: 12px;
    align-items: center;
}

.email-label {
    position: absolute;
}

.subscribe-email-input {
    width: 358px;
    height: 50px;

    background-color: transparent;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $lightTextColor;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
}

.subscribe-email-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-email-input:focus-within {
    outline: none;
}

.submit-button {
    width: 200px;
    height: 50px;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    line-height: 1.87;
}