/*arrange logo nav */
.nav-menu {
    display: flex;
    gap: 93px;
    align-items: center;
}

/* arrange elements of nav contacts */
.nav-list,
.contacts {
    display: flex;
    gap: 50px;
}

.nav-item {
    position: relative;
}


.nav-link,
.contacts-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $linkTextColor;

    transition: color $commonTransition;
}

.current {
    color: $accentColor;
}

.nav-link:hover,
.nav-link:focus {
    color: $accentColor;
}


.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    top: 45px;

    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;


    background-color: $accentColor;
}