/* -----social-list sprites menu -----*/

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list-item {
    width: 44px;
    height: 44px;
}


.social-list-link {
    border-radius: 50%;
    background-color: $backgroundColor;
    width: 100%;
    height: 100%;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    transition: background-color $commonTransition;
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: $accentColor;
}

.social-list-icon {
    fill: $iconDefaultColor;

    transition: fill $commonTransition;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: $backgroundColor;
}